<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>All Orders</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Pizza</th>
            <th>Pasta</th>
            <th>Wings</th> 
        </tr>
        <% orders.forEach(order => { %>
            <tr>
                <td><%= order.name %></td>
                <td><%= order.phone %></td>
                <td><%= order.pizza %></td>
                <td><%= order.pasta %></td>
                <td><%= order.wings %></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>
